body {
    background-color: #288FCB;
    font-family: 'Segoe UI';
}
h1 {
    font-family: 'Patua One', cursive;
}
.title {
    color: #288FCB;
    background: #094C6E;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 5px;
}
a {
    background-color: #ED5A43;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}
a:hover {
    background-color: salmon;
    -webkit-transition-duration: 0.5s;
}
.retangle {
    background-color: white;
    padding: 5px;
    margin: 15px 0px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
    border-radius: 7px;
}
input {
    width: 100%;
    margin-top: 15px;
}
.card {
    background-color: white;
}
.btnlarge {
    margin: 10px 0px;
}